
torch --index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
openai
python-dotenv>=1.0.1
tqdm>=4.66.0
langdetect
chromadb 
openai>=1.2.0
pypdf
deep-translator
numpy<2.0
requests
pymed
#nova versão do RAG
haystack-ai
transformers
accelerate
tokenizers
huggingface_hub
FlagEmbedding>=1.2.10
